
@media (max-width: 800px){
.header-links > ul {
    display: flex;
    padding: 2rem 0;
    flex-direction: column;
}
.img > .group > #group {
    margin-left: -2rem;
    position: absolute;
    top: 30%;
    width: 30%;
    left: 60%;
}
#root >.images> .content h1{
    font-size: 2rem;
}
#root > #footer{
    margin-top: -11rem;
}
.center > .center-content{
    width: 100%;
    margin-top: -10em;
}
.center > .center-content > .path-box img{
    position: absolute;
    left: -30%;
    top: 10%
    ;
}
.containing > .right img{
    width: 20%;
}


}

@media (max-width: 1000px){
    .center > .center-content > .path-box img{
        position: absolute;
        left: -40%;
        top: 80%
        ;
    }
    #root > .images > .img > .path{
        position: absolute;
        left: 0rem;
        top: -3%;
        left: 10.6%;
        opacity:0.4;
        width: 90%;
        
        overflow: hidden;
    }
    #root > .images > .img > .path img{
        width: 0%;
    }
    #root > #footer{
        margin-top: -10rem;
    }
    #root > .images > .content > .buttons button{
            margin-right: 2rem;
            width: 100%;
        }
}

@media (max-width: 1440px){
    #root >.center > .center-content > .path-box img{
        position: absolute;
        left: -45%;
        top: 80%;
    }
}


/* FOR PHONE SCREENSAND SMALL TABLETS */
@media (max-width:600px){
    #root{
        display: flex;
        flex-direction: column;
    }
    #root > .container > .header-links li {
        padding: 0;
    }
    #root > .container > .heading h1 {
        margin: 0;
    }
    #root > #section-a{
        display: flex;
        flex-direction: column;
    }
    #root > #section-a >.content{
        margin-left: 2rem;
        width: 100%;
    }
    #root > #section-a > #section-a-image{
        width: 50%;
    }
    #root > .header-container{
        width: 90%;
    }
    #root > #section-b{
        flex-direction: column;
    }
    #root > #section-b > .content-left{
        width: 100%;
        margin: 0;
    }
    #root > .footer{
        width: 100%;
    }
    #root > img{
        width: 50%;
    }
    #root > .containing{
        flex-direction: column;
        margin-left: 1.5rem;
        margin-bottom: 0rem;
        margin-top: 1rem;
    }
    #root > .containing > .left + .right{
        width: 100%;
    }
    #root > .containing > .left img{
        width: 200px;
        height: 200px;
    }
    #root > #section-f{
        padding: 0%;
        background: none;
    }
    #root >#section-f > .center-content{
        padding: 2em;
        margin-left: .1rem;
        background-color: #e7ecff;
        margin-top: 0;
    }
    #root button{
        width: 100%;
    }
    #root >.center > .center-content > .path-box img{
        width: 50%;
    }
}